
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 0;
}
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background: var(--background-sidebar);
    overflow-y: auto;
    padding: 1.8rem .85rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.sidebar .sidebar-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 32px;
}
.sidebar .sidebar-top .logo__wrapper {
    padding-left: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    color: #191825;
}
.sidebar .sidebar-top .logo__wrapper .logo {
    width: 80px;
    height: 54px;
    cursor: pointer;
}
.sidebar .logout-btn {
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 6px;
    cursor: pointer;
}
.sidebar .logout-btn svg {
    stroke: #191825;
    width: 38px;
    height: 38px;
}
.sidebar .sidebar-links ul {
    list-style-type: none;
    position: relative;
}
.sidebar .sidebar-links li a {
    margin: 8px 0px;
    padding: 12px;
    color: #191825;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 56px;
    text-decoration: none;
}
.sidebar .sidebar-links li a svg {
    height: 24px;
    width: 24px;
}
.sidebar .sidebar-links li a:hover svg {
    stroke: #191825;
}
.sidebar .sidebar-links .link {
    margin-left: 20px;
}
.sidebar .sidebar-links li a:hover, .sidebar-links .active {
    width: 100%;
    text-decoration: none;
    background: #191825;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    color: #fafafa;
}
.sidebar .sidebar-links .active {
    color: #FFFFFF;
}
.sidebar .sidebar-links .active svg {
    stroke: #FFFFFF;
}
.sidebar .divider {
    width: 100%;
    background: #191825;
    height: 2px;
    display: block;
}
.sidebar .sidebar__profile {
    display: flex;
    align-items: center;
    padding-left: 2px;
    gap: 20px;
    flex-direction: row;
    margin-top: 16px;
}
.sidebar .sidebar__profile .avatar__wrapper {
    position: relative;
    display: flex;
}
.sidebar .sidebar-links .avatar__wrapper .online__status {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #15d73c;
    bottom: 3px;
    right: 3px;
}
.sidebar .sidebar__profile .avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, .1));
}
.sidebar .sidebar__profile .avatar:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}
.sidebar .sidebar__profile .avatar__name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.sidebar .sidebar__profile .avatar__name .user-name {
    font-size: .95rem;
    font-weight: 700;
    text-align: left;
    color: #191825;
}
.sidebar .sidebar__profile .email {
    font-size: .7rem;
    color: #191825;
    font-weight: 600;
    cursor: pointer;
}
.sidebar .sidebar__profile .email:hover {
    text-decoration: underline;
}
.content {
    width: 100%;
    height: 100%;
    background: var(--background-content);
    overflow-y: auto;
}
.content header {
    display: flex;
    width: 100%;
    height: 100px;
    background: #fffffe;
}
.content header .name__logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.content header .name__logo span {
    font-size: 28px;
    color: #191825;
    font-weight: 600;
    letter-spacing: 2.5px;
    animation: floatAnimation 3s ease-in-out infinite;
}
@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.content header nav {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content header nav li {
    margin: 40px;
    list-style: none;
    display: inline-block;
}
.content header nav li .btn {
    display: inline-block;
    padding: 0.6rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: #191825;
    border: 3px solid #191825;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}
.content header nav li .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #191825;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
.content header nav li .btn:hover::before {
    transform: translateX(0);
}
.content header nav li .btn:hover {
    color: #fafafa;
}
.content .area-search {
    width: 100%;
    height: 90px;
    background: #e2dada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.content .area-search .input-container {
    width: 240px;
    position: relative;
}
.content .area-search .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}
.content .area-search .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content .area-search .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}
.content .area-search .input-container:hover > .icon {
    animation: anim 1s linear infinite;
}
@keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}
.content .row-content {
    width: 100%;
    height: 480px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.content .row-content .container {
    position: relative;
    width: 320px;
    height: 480px;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s ease-in-out;
}
.content .row-content .container:hover {
    transform: translateY(-10px);
}
.content .row-content .container .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .row-content .container .header .title {
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .row-content .container .header .title span {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #151721;
    text-transform: uppercase;
}
.content .row-content .container .header .image-prod {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .row-content .container .header .image-prod .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFFFFF;
    overflow: hidden;
}
.content .row-content .container .header .image-prod .circle img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.content .row-content .container .cont-quantity {
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .row-content .container .cont-quantity .col-1 {
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .row-content .container .cont-quantity .col-1 .circle-package {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFFFFF;
    overflow: hidden;
}
.content .row-content .container .cont-quantity .col-1 .circle-package img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.content .row-content .container .cont-quantity .col-1 span {
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #151721;
}
.content .row-content .container .cont-quantity .col-2 {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .row-content .container .cont-quantity .col-2 span {
    color: #151721;
    font-size: 20px;
    font-weight: 600;
}
.content .row-content .container .less-and-more {
    position: absolute;
    left: 0;
    top: 260px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content .row-content .container .less-and-more button {
    width: 120px;
    height: 50px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background: transparent;
    color: #151721;
    border: 2px solid #151721;
    font-weight: 600;
    font-size: 18px;
    transition: .3s ease-in-out;
}
.content .row-content .container .less-and-more button:hover {
    background: #151721;
    color: #fafafa;
}
.content .row-content .container .buy-now {
    position: absolute;
    left: 0;
    top: 340px;
    width: 100%;
    height: 150px;
    padding-right: 8px;
}
.content .row-content .container .buy-now .row-1 {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .row-content .container .buy-now .row-1 .more-info {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .row-content .container .buy-now .row-1 .more-info a {
    font-size: 22px;
    font-weight: 600;
    color: #151721;
    cursor: pointer;
    text-decoration: none;
}
.content .row-content .container .buy-now .row-1 .price {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #151721;
}
.content .row-content .container .buy-now .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content .row-content .container .buy-now .row-2 button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}
.content .row-content .container .buy-now .row-2  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}
.content .row-content .container .buy-now .row-2  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}
body {
    height: 100vh;
    position: relative;
    display: flex;
}